<section id="head">
        <a href="http://rnips.com/" title="Dashboard"><img alt="RocketNEXT" id="logo" src="http://rnips.com/assets/rn-logo-rob.png" /></a>


</section>
<section id="box">
        <%= yield %>
</section>
